.DS*
.idea
.sencha
.svn
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.phar
composer.lock
vendor
/data
node_modules
config/autoload/api.dev.php
config/autoload/api.prod.php
config/autoload/api.test.php
module/SafeStartApp/public/lib
module/SafeStartApp/public/build/SafeStartApp/production/deltas
module/SafeStartApp/public/build/SafeStartApp/production/deltas/app.js

/module/SafeStartApp/public/resources/css/safe-start-09okt local.css

/module/SafeStartApp/public/resources/css/safe-start-05sep.css

/module/SafeStartApp/public/resources/css/app-28avg.css

/module/SafeStartApp/public/resources/css/app-15avg.css
