.sfa-bottomnav {
  background: url(img/sfa-bottomnav_bg.jpg) repeat-x;
  height: 59px;
}

.sfa-vehicles-tabpanel .x-panel-body {
  /*background: url('../build/production/SafeStartExt/resources/img/x-component-light_bg.jpg');*/
  background-color: #FFF;
}

.sfa-vehicles-tabpanel .x-tab-bar {
  background-image: none;
  background-color: transparent;
}

.sfa-vehicles-tabpanel .x-tab-bar-body {
  padding-bottom: 0;
}

.sfa-vehicles-tabpanel .x-tab-bar-body .x-tab-default-top {
  border-bottom: 0;
}

.sfa-vehicles-tabpanel .x-tab-bar-body .x-tab-default {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sfa-vehicles-tabpanel .x-tab-bar-body .x-tab-default .x-tab-inner {
  border-bottom: 0;
  font-size: 18px;
  color: #b8d3e4;
  padding-top: 1px;
  padding-bottom: 5px;
  font-weight: normal;
}
.sfa-vehicles-tabpanel .x-tab-bar-body .x-tab-default.x-top-over .x-tab-inner {
    color: #fff;
}

.sfa-vehicles-tabpanel .x-tab-bar-body .x-tab-top-active.x-tab-default .x-tab-inner {
    color: #fff;
    text-shadow: 0px -1px 0px #004466;
}

.sfa-vehicles-tabpanel .x-tab-bar.x-header .x-tab-default-top {
    padding: 14px 15px 15px;
    background: none;
    box-shadow: none;
    border: none;
}

.sfa-vehicles-tabpanel .x-tab-bar.x-header .x-tab-default-top.x-tab-active {
    background: url(img/tab-active_bg.png) no-repeat 50% 100%;
}

.sfa-vehicles-tabpanel .x-tab-bar-default .x-tabbar-scroll-left,
.sfa-vehicles-tabpanel .x-tab-bar-default .x-tabbar-scroll-right {
}

.sfa-vehicles-tabpanel .x-tab-bar .x-tab-bar-strip {
  border: none;
  background-color: transparent;
  height: 0;
}

/*.x-btn-default-toolbar-small-icon .x-btn-icon-el*/


.sfa-icon-refresh {
  background: url(../build/production/SafeStartExt/resources/img/sfa-icon-refresh.png);
}

.x-btn-default-toolbar-medium-focus {
  border-color: transparent;
  background-image: none;
  background-color: transparent;
}

.x-btn-default-toolbar-medium-over {
  border-color: #9D9D9D;
  background-image: none;
  background-color: #F3F3F3;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FBFBFB),color-stop(100%,#E9E9E9));
  background-image: -webkit-linear-gradient(top,#FBFBFB,#E9E9E9);
  background-image: -moz-linear-gradient(top,#fbfbfb,#e9e9e9);
  background-image: -o-linear-gradient(top,#fbfbfb,#e9e9e9);
  background-image: linear-gradient(top,#fbfbfb,#e9e9e9);
}

.x-btn-default-toolbar-medium-pressed {
  border-color: #9D9D9D;
  background-image: none;
  background-color: #D6D6D6;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#C7C7C7),color-stop(100%,#E0E0E0));
  background-image: -webkit-linear-gradient(top,#C7C7C7,#E0E0E0);
  background-image: -moz-linear-gradient(top,#c7c7c7,#e0e0e0);
  background-image: -o-linear-gradient(top,#c7c7c7,#e0e0e0);
  background-image: linear-gradient(top,#c7c7c7,#e0e0e0);
}

.x-ie .sfa-vehicles-tabpanel .x-tab-bar-default-top {
  background-image: none;
  background-color: transparent;
}

.x-ie .sfa-vehicles-tabpanel .x-tab-default-top {
  border-bottom: 0 !important;
}

.sfa-top-nav.x-box-item {
    border-bottom: 1px solid #000 !important;
    height: 62px !important;
    background: #1673b5 url(img/top_bg.png) repeat-x;
}
.sfa-top-nav {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 9;
}
.sfa-top-nav .x-btn-transparent-medium .x-btn-inner {
    color: #fff;
}
.x-ie .x-panel-light-left .x-toolbar-default {
  background-image: none !important;
}


/* changes by Sergey Chigh */

/* Login & Contact form */

.sfa-form-auth .x-form-field.x-form-text {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.sfa-form-auth .x-panel-form {
    background: #fff;
}
.sfa-form-auth .x-panel-form .x-form-field.x-form-text,
.sfa-form-contact .x-panel-form input.x-form-field.x-form-text {
    height: 38px !important;
}
.x-ie7p .sfa-form-auth .x-panel-form .x-form-field.x-form-text,
.x-ie7p .sfa-form-contact .x-panel-form input.x-form-field.x-form-text {
    height: 20px !important;
}
.x-ie7p .sfa-form-auth .x-panel-form input[type="password"],
.x-ie8p .sfa-form-auth .x-panel-form input[type="password"]{
    font-family: Arial, sans-serif;
}
.x-ie8p .sfa-form-auth .x-panel-form .x-form-field.x-form-text,
.x-ie8p .sfa-form-contact .x-panel-form input.x-form-field.x-form-text{
    height: 40px !important;
}
/* button */
.sfa-form-auth .x-panel-form .x-btn-inner {
    padding-bottom: 2px;
}
.sfa-form-auth .x-panel-form .x-btn-button {
    height: 18px;
}

.sfa-form-auth > div.x-box-inner > div.x-box-target > .x-panel-form > .x-toolbar-footer {
    padding-left: 0;
}

.sfa-form-auth img {
    top: -110px !important;
}



/*.x-ie7p .sfa-form-auth .x-panel-form .x-box-target a,
.x-ie7p .sfa-form-contact .x-panel-form .x-box-target a{
    background: #6C9804;
    display: block;
}
*//*.x-ie7p .sfa-form-auth .x-panel-form .x-box-target a span,
.x-ie7p .sfa-form-contact .x-panel-form .x-box-target a span{
    background: none;
}
*//*.x-ie7p .sfa-form-auth .x-panel-form .x-box-target a.x-btn-green-medium-pressed,
.x-ie7p .sfa-form-contact .x-panel-form .x-box-target a.x-btn-green-medium-pressed {
    background: #628904;
}
*/

/* END Login & Contact form */

/* TOP panel */
.sfa-top-nav .x-btn-inner {
    font-size: 18px;
}
.sfa-top-nav .sfa-title {
    font-size: 22px;
    text-transform: uppercase;
}

/*
.sfa-top-nav .sfa-logout .x-btn-icon-el {
    display: none;
}
*/
.sfa-top-nav .sfa-logout {
    margin-right: 40px;
}

.sfa-top-nav .sfa-user {
    padding-left: 22px;
    background: url(img/user-ic.png) no-repeat 0 15px;
}
.sfa-top-nav .sfa-logout {
    padding-left: 27px;
    margin-left: 20px;
    background: url(img/logout-ic.png) no-repeat 0 15px;
}
.sfa-top-nav .sfa-company-name {
    left: 270px !important;
}
.sfa-top-nav .sfa-company-name .x-btn-inner {
font-size: 24px;
}
.sfa-top-nav .sfa-topmenu-logo img {
    cursor: pointer;
}
.sfa-top-nav .sfa-topmenu-logo > span {
    background: url(img/sfa-top-logo-bg.png) repeat-x;
    border-right: 1px solid #000;
}

/* END TOP panel */

/* LEFT column */
.sfa-left-coll .x-header-text.x-panel-header-text.x-panel-header-text-light-left {
    font-size: 24px;
    display: block;
    padding-bottom: 7px;
}
.sfa-left-coll .search input.x-form-text {
    padding: 7px 3% 8px 14%;
    height: auto !important;
    background: url(img/search-ic.png) no-repeat 4% 50%;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f3f4f4;
    border-top-color: #a9acaf;
    box-shadow: 0px 1px 0px #fff, 1px 0px 0px #fbfbfb, -1px 0px 0px #fbfbfb;
}
.x-ie7p .sfa-left-coll .search input.x-form-text {
    /*TODO*/
    /*width: 92% !important;*/
}
.sfa-left-coll > div .x-box-inner {
    /*TODO*/
    /*height: 42px !important;*/
}
.sfa-left-coll .x-panel-header-light-left {
    padding: 0;
    margin: 0;
    background: none;
    border: none !important;
}
.sfa-left-coll {
    background: #f7f7f7;
}
.sfa-left-coll .sfa-icon-refresh {
    height: 18px;
    width: 22px;
    top: 3px;
    bottom: auto;
    right: auto;
    background: url(img/reload-ic.png) no-repeat;
}
.sfa-left-coll a.x-btn span {
    /*TODO*/
    /*width: 22px;*/
    /*height: 18px;*/
    /*line-height: 18px;*/
}
.sfa-left-coll a.x-btn {
    /*TODO*/
    /*top: 5px !important;*/
}
.sfa-left-coll .x-btn-default-toolbar-medium-over {
    border-color: #fff;
    background: none;
}
.sfa-left-coll.x-panel-light-left {
    border-color: #000;
}
/* buttoon rewiev to the right from search */
.sfa-left-coll .x-btn.x-unselectable.x-box-item.x-btn-default-medium.x-icon.x-btn-icon.x-btn-default-medium-icon {
    border: none;
    background: none;
}
.sfa-left-coll .sfa-add-company span.x-btn-inner.x-btn-inner-center {
    font-size: 16px;
    color: #2D7FB8;
    text-align: left;
    padding-left: 12px;
}
.sfa-left-coll .sfa-add-company.x-btn-default-toolbar-small {
    margin: 0 18px 25px 16px;
    padding: 8px;
    border: none;
    background: url(img/add_bg.png) no-repeat;
}
.sfa-left-coll .sfa-add-company.x-btn-default-toolbar-small-over {
    background: none;
    border: none;
    background: url(img/add_bg.png) no-repeat;
}

.sfa-left-coll .search.x-table-plain {
    margin-left: 10px !important;
    width: 195px !important;
}

.sfa-left-coll .sfa-add-button {
    border: none;
    margin-bottom: 24px;
    margin-left: 15px;
    padding: 8px 5px 9px 21px;
    text-align: left;
    display: block;
    background: url(img/sfa-add-button_bg.png) no-repeat;
}

.sfa-left-coll .sfa-add-button span.x-btn-inner {
    color: #2D7FB8;
    font-size: 16px;
    display: inline-block;
}
/*






/* for ie7 ie8 */

*:first-child+html .sfa-vehicles-tabpanel .x-table-plain,
*:first-child+html .sfa-vehicles-tabpanel .x-table-plain * {
    background: none !important;
}
.sfa-vehicles-tabpanel .x-table-plain,
.sfa-vehicles-tabpanel .x-table-plain * {
    background: none\0/ !important;
}

*:first-child+html .sfa-vehicles-tabpanel .x-table-plain .x-tab-ml,
*:first-child+html .sfa-vehicles-tabpanel .x-table-plain .x-tab-mc,
{
    /*height: 41px;*/
}
.sfa-vehicles-tabpanel .x-table-plain {
    /*height: 50px\0/;*/
}

*:first-child+html .sfa-previous-inspections-info .sfa-group-item {
    width: 100%;
    overflow: hidden;
}
*:first-child+html .sfa-previous-inspections-info .sfa-group-item > div:first-child {
    float: left;
}
*:first-child+html .sfa-previous-inspections-info .sfa-group-item > div {
    float: right;
}

.sfa-previous-inspections-info .sfa-group-item {
    width: 100%;
    overflow: hidden\0/;
}
.sfa-previous-inspections-info .sfa-group-item > div:first-child {
    float: left\0/;
}
.sfa-previous-inspections-info .sfa-group-item > div {
    float: right\0/;
}



*:first-child+html .sfa-left-coll .sfa-add-button .x-table-plain,
*:first-child+html .sfa-left-coll .sfa-add-button .x-table-plain *{
    background: none !important;
}

*:first-child+html .sfa-left-coll .sfa-add-button .x-table-plain {
    height: 35px;
}
*:first-child+html .sfa-left-coll .sfa-add-button .x-table-plain td x-btn-inner {
    padding: 30px;
}





/* END LEFt column */

/* CONTENT */
.x-panel-body-light, .x-component-light, .sfa-vehicles-tabpanel,
.sfa-vehicles-tabpanel .x-panel-body {
    padding: 20px 25px;
    background: none;
}
.sfa-vehicles-tabpanel, .sfa-vehicles-tabpanel .x-panel-body {
    padding: 0;
}
.sfa-vehicles-tabpanel > span > div .x-panel-body-default {
    border: none;
}

.sfa-vehicles-tabpanel .x-tab-bar.x-header {
    height: 49px;
    background: red;
    border-top: 1px solid #005a87;
    border-right: 1px solid #0071a9;
    border-left: 1px solid #0071a9;
    background: url(img/tab_bg.png) repeat-x;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.sfa-vehicles-tabpanel > span {
    padding: 24px 26px;
}
.sfa-vehicles-tabpanel > span > div {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #c0c0c0;
    border-top: none;
    border-right: none;
    border-left: none;
    background: #e8e8e8 url(img/tab-left_bg.png) repeat-y;
    overflow: hidden;
}

.sfa-vehicles-tabpanel > span > div > .x-panel-default {
    height: 100% !important;
    background: url(img/tab-right_bg.png) repeat-y 100% 0;
}

.sfa-vehicles-tabpanel > span > div .x-panel-default > div {
    padding: 0 3px;
}
.sfa-vehicles-tabpanel .sfa-previous-inspections-left-coll span.x-header-text {
    font-size: 20px;
}

.sfa-vehicles-tabpanel .sfa-previous-inspections-left-coll .x-panel-header {
    border: none !important;
    background: none;
}
.sfa-vehicles-tabpanel .sfa-previous-inspections-left-coll .sfa-vehicle-item {
    border-top: 1px solid #DEDEDE;
}

.sfa-info-container > div {
    border: 1px solid red;
    padding: 10px 20px 18px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    border-left-color: #c0c0c0;
    border-right-color: #c0c0c0;
    background: #e8e8e8 url(img/sfa-info-container-top-border.gif) repeat-x;
    box-shadow: rgba(219, 219, 219, 1) 1px 0 0 inset, rgba(219, 219, 219, 1) -1px 0 0 inset;
}

.sfa-info-container .x-panel-body.x-panel-body-default.x-panel-body-default {
    background: none;
    border: none;
}

.sfa-info-container .x-form-item-label, .sfa-info-container input.x-form-field.x-form-text,
.sfa-info-container textarea {
    font-size: 16px;
    color: #565555;
}
.sfa-info-container input.x-form-text, .sfa-info-container .x-form-textarea {
    padding: 0 30px 0 7px;
    height: 32px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f3f4f4;
    border-top-color: #a9acaf;
    border-bottom-color: #fbfbfb;
    box-shadow: 0 1px 0 #f3f4f4;
    background: #fff;
}
.sfa-info-container .x-form-textarea {
    height: 84px;
}

/* END CONTENT */

/* page Companies */
.sfa-info-container .x-form-item-label.x-unselectable.x-form-item-label-top {
    font-size: 18px;
    color: #1368a4;
    padding: 10px 0 15px;
}
.sfa-left-coll .sfa-vehicle-item,
.sfa-left-coll .sfa-vehicle-item,  /* page Vehisles */
.sfa-previous-inspection .sfa-previous-inspections-left-coll .sfa-vehicle-item {   /* page Vehisles -> previous inspections */
    cursor: pointer;
}
.sfa-left-coll .x-fit-item.x-component .sfa-vehicle-item {
    border-bottom: 1px solid #DEDEDE;
    box-shadow: 0 1px 0 #FFFFFF;
}
.sfa-left-coll .x-fit-item.x-component .sfa-vehicle-item:first-child {
    border-top: 1px solid #dedede;
    box-shadow: 0 -1px 0 #FFFFFF, 0 1px 0 #FFFFFF;
}
.sfa-left-coll .sfa-vehicle-item.x-item-selected,
.sfa-left-coll .sfa-vehicle-item:hover,
.sfa-left-coll .sfa-vehicle-item.x-item-selected, /* page Vehisles */
.sfa-left-coll .sfa-vehicle-item:hover,
.sfa-previous-inspection .sfa-previous-inspections-left-coll .sfa-vehicle-item.x-item-selected,
.sfa-previous-inspection .sfa-previous-inspections-left-coll .sfa-vehicle-item:hover {
    background: #e3edf1;
}
.sfa-previous-inspection .sfa-previous-inspections-left-coll {
  border-right: none;
}
.sfa-left-coll .x-component.x-fit-item.x-component-default {
    padding-top: 30px;
}
.sfa-left-coll input.x-form-field.x-form-text {
    font-family: Arial, sans-serif;
}
.sfa-left-coll {
    padding-top: 15px;
}
.sfa-company-settings tr td {
    padding: 8px 0;
}
.sfa-company-settings .x-table-plain.x-form-item.x-form-type-text {
    width: 700px;
}
.sfa-company-settings .x-table-plain.x-form-item.x-form-type-text tr td:first-child {
    width: 30%;
}
.sfa-company-settings .x-table-plain.x-form-item.x-form-type-text tr td label {
    width: 100% !important;
}

/* END page Companies */


/* page Vehisles */

.sfa-left-coll .sfa-vehicle-item:last-child {
    border: none;
}

.sfa-left-coll .x-component.x-fit-item.x-component-default {
    padding-top: 30px;
}
.sfa-left-coll input.x-form-field.x-form-text {
    font-family: Arial, sans-serif;
    background: #fff;
}

    /* page Vehisles -> inspections-info */
    .sfa-previous-inspections-info {
        border-left: 1px dotted #ccc;
        font-size: 16px;
    }
    .sfa-previous-inspections-info .x-panel-body .x-component{
        padding: 10px 15px;
    }
    .sfa-previous-inspections-info .sfa-group-title.sfa-group-title-top {
        padding-top: 15px;
        font-size: 28px;
        color: #558fac;
    }
    .sfa-previous-inspections-info .sfa-group-title.sfa-group-title-sub {
        font-size: 20px;
        color: #558fac;
    }
    .sfa-previous-inspections-info .sfa-group-item {
        padding-bottom: 5px;
    }
    .sfa-previous-inspections-info .sfa-group-item.sfa-group-item-normal .sfa-group-item-key:first-child,
    .sfa-previous-inspections-info .sfa-group-item.sfa-group-item-warning .sfa-group-item-key:first-child{
        color: #000;
    }
    .sfa-previous-inspections-info .sfa-group-item.sfa-group-item-normal .sfa-group-item-key {
        color: #558fac;
    }

    .sfa-previous-inspections-info .sfa-group-item.sfa-group-item-warning .sfa-group-item-key {
        color: #f00;
    }


/* END page Vehisles */


/*.x-nlg .sfa-bottomnav .x-btn {
    background-image: none;
}
*/
/*.sfa-bottomnav .x-btn.sfa-button-companies {
    background-image: url(img/sfa-icon-1.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-companies.x-btn-tab-large .x-frame-mc {
    background-image: url(img/sfa-icon-1.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn.sfa-button-vehicles {
    background-image: url(img/sfa-icon-3.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-vehicles.x-btn-tab-large .x-frame-mc {
    background-image: url(img/sfa-icon-3.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn-disabled.sfa-button-vehicles {
    background-image: url(img/sfa-icon-disabled-3.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-vehicles.x-btn-tab-large-disabled .x-frame-mc {
    background-image: url(img/sfa-icon-3.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn.sfa-button-alerts {
    background-image: url(img/sfa-icon-2.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-alerts.x-btn-tab-large .x-frame-mc {
    background-image: url(img/sfa-icon-2.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn.sfa-button-users {
    background-image: url(img/sfa-icon-4.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-users.x-btn-tab-large .x-frame-mc {
    background-image: url(img/sfa-icon-4.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn.sfa-button-system-settings {
    background-image: url(img/sfa-icon-5.png);
    background-position: 50% 2px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-system-settings.x-btn-tab-large .x-frame-mc {
    background-image: url(img/sfa-icon-5.png);
    background-position: 50% -3px;
    background-repeat: no-repeat;
}

.sfa-bottomnav .x-btn.sfa-button-system-statistic {
    background-image: url(img/ic6.png);
    background-position: 50% 5px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-system-statistic.x-btn-tab-large .x-frame-mc {
    background-image: url(img/ic6.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.sfa-bottomnav .sfa-button-auth {
    background-image: url(img/ic7.png);
    background-position: 50% 5px;
    background-repeat: no-repeat;
}
.x-nlg .sfa-bottomnav .sfa-button-auth.x-btn-tab-large .x-frame-mc {
    background-image: url(img/ic7.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}
*/
/*.sfa-bottomnav .sfa-button-contact {
    background-image: url(img/ic8.png);
    background-position: 50% 5px;
    background-repeat: no-repeat;
}
/*.x-nlg .sfa-bottomnav .sfa-button-contact.x-btn-tab-large .x-frame-mc {
    background-image: url(img/ic8.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.sfa-bottomnav .x-btn-inner.x-btn-inner-center {
    position: relative;
    top: 5px;
}
*/
.sfa-icon-auth {
    background-image: url(img/sfa-icon-auth.png);
}
.sfa-icon-companies {
    background-image: url(img/sfa-icon-companies.png);
}
.sfa-icon-vehicles {
    background-image: url(img/sfa-icon-vehicles.png);
}
.sfa-icon-alerts {
    background-image: url(img/sfa-icon-alerts.png);
}
.sfa-icon-users {
    background-image: url(img/sfa-icon-users.png);
}
.sfa-icon-settings {
    background-image: url(img/sfa-icon-settings.png);
}
.sfa-icon-statistic {
    background-image: url(img/sfa-icon-statistic.png);
}
.sfa-icon-contact {
    background-image: url(img/sfa-icon-contact.png);
}

.x-ie .sfa-vehicles-tabpanel .x-panel .x-panel-body{
    /*padding-top: 20px;*/

}

.x-form-item-label {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
}


.x-form-text {
    font-size: 16px;
    height: 30px;
    padding: 6px 3px;
    color: #333;
}

.sfa-field-group .sfa-field-group-label {
    font-size: 18px;
    color: #1368a4;
    margin: 15px 0;
    display: block;
}

.sfa-field-group.x-item-disabled .sfa-field-group-label {
    color: #79CEFF;
}

.x-form-checkbox {
    margin-top: 8px;
}
