/* main */

/* for All */

@font-face {
    font-family: HelveticaNeueLTStd;
    src: url(/resources/fonts/HelveticaNeueLTStd-Cn.ttf);
}
html, body {
    font-family: HelveticaNeueLTStd, "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;
}

.x-toolbar-dark .x-title {
    color: #577990;
    text-shadow: none;
    font-weight: normal;
}
.x-msgbox-dark .x-msgbox-text {
    color: #577990;
    text-shadow: none;
}
.x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge {
    font-size: 1.5em;
}
.x-button.x-button-action, .x-button.x-button-action.x-button-back:after, .x-button.x-button-action.x-button-forward:after,
.x-toolbar .x-button.x-button-action, .x-toolbar .x-button.x-button-action.x-button-back:after, .x-toolbar .x-button.x-button-action.x-button-forward:after,
.x-button.x-button-action-round, .x-button.x-button-action-round.x-button-back:after,
.x-button.x-button-action-round.x-button-forward:after, .x-toolbar .x-button.x-button-action-round,
.x-toolbar .x-button.x-button-action-round.x-button-back:after, .x-toolbar .x-button.x-button-action-round.x-button-forward:after,
.x-button.x-button-action-small, .x-button.x-button-action-small.x-button-back:after,
.x-button.x-button-action-small.x-button-forward:after, .x-toolbar .x-button.x-button-action-small, .x-toolbar
.x-button.x-button-action-small.x-button-back:after, .x-toolbar .x-button.x-button-action-small.x-button-forward:after {
    border: none;
    background: #6bbde3; /* Old browsers */
    background: -moz-linear-gradient(top, #6bbde3 0%, #2c7cb1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bbde3), color-stop(100%,#2c7cb1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6bbde3 0%,#2c7cb1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbde3', endColorstr='#2c7cb1',GradientType=0 ); /* IE6-9 */
}

.x-toolbar-dark .x-button, .x-toolbar .x-toolbar-dark .x-button, .x-toolbar-dark .x-field-select .x-component-outer,
.x-toolbar .x-toolbar-dark .x-field-select .x-component-outer,
.x-toolbar-dark .x-field-select .x-component-outer:before,
.x-toolbar .x-toolbar-dark .x-field-select .x-component-outer:before {
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top, #dbdbdb 0%, #c0c0c0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#c0c0c0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dbdbdb 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dbdbdb 0%,#c0c0c0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dbdbdb 0%,#c0c0c0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dbdbdb 0%,#c0c0c0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
}
.x-button.x-button-pressing,.x-button.x-button-pressing:after,.x-button.x-button-pressed,.x-button.x-button-pressed:after,.x-button.x-button-active,.x-button.x-button-active:after,.x-toolbar .x-button.x-button-pressing,.x-toolbar .x-button.x-button-pressing:after,.x-toolbar .x-button.x-button-pressed,.x-toolbar .x-button.x-button-pressed:after,.x-toolbar .x-button.x-button-active,.x-toolbar .x-button.x-button-active:after {
    background-image:none;
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #c6c6c6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%,#c6c6c6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%,#c6c6c6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #bbbbbb 0%,#c6c6c6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}
.x-list-normal .x-list-item.x-item-pressed.x-list-item-tpl, .x-list-normal .x-list-item.x-item-pressed .x-dock-horizontal {
    border-top-color: #ccc;
    background-color: #ddd;
}

.x-button {
    cursor: pointer;
}

.x-input-el {
    min-height: 1.5em;
}

.x-button {
    border: none !important;
}

.x-button-label, .x-badge, .x-hasbadge .x-badge, .x-form-fieldset-title, .x-form-label span {
    font-weight: normal;
}

.x-form-fieldset .x-form-label {
    border: none;
}

.x-toolbar .x-field-textarea .x-component-outer,
.x-toolbar .x-field-text .x-component-outer,
.x-toolbar .x-field-number .x-component-outer,
.x-toolbar .x-field-search .x-component-outer {
    background-color: white;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0 inset, rgba(0, 0, 0, 0.5) 0 -0.1em 0 inset, rgba(0, 0, 0, 0.5) 0.1em 0 0 inset, rgba(0, 0, 0, 0.5) -0.1em 0 0 inset, rgba(0, 0, 0, 0.5) 0 0.15em 0.4em inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0.1em 0 inset, rgba(0, 0, 0, 0.5) 0 -0.1em 0 inset, rgba(0, 0, 0, 0.5) 0.1em 0 0 inset, rgba(0, 0, 0, 0.5) -0.1em 0 0 inset, rgba(0, 0, 0, 0.5) 0 0.15em 0.4em inset;
    box-shadow: rgba(100, 100, 100, 0.5) 0 0.1em 0 inset, rgba(100, 100, 100, 0.5) 0 -0.1em 0 inset, rgba(100, 100, 100, 0.5) 0.1em 0 0 inset, rgba(100, 100, 100, 0.5) -0.1em 0 0 inset, rgba(100, 100, 100, 0.5) 0 0.15em 0.4em inset;
}
.x-layout-card-item {
    background: url(/resources/img/x-layout-card-item_bg.jpg) repeat;
}

.x-html {
    padding: 0;
}
.x-unsized.x-button.x-button-confirm {
    border: none;
}
.x-form-label span {
    font-size: 22px;
    color: #565555;
}
.x-tabbar-dark {
    background: #2A2C30 url(/resources/img/foot_bg.jpg) repeat-x;
}
.x-tabbar-dark.x-docked-bottom .x-tab-active {
    background-color: #333539;
    background-image: none;
    border: 2px inset #27292C;
    box-shadow: 0 0 3px #27292C inset;
    text-shadow: 0 -0.08em 0 rgba(0, 0, 0, 0.5);
}
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before,
.x-tabbar-dark .x-tab {
    color: #fff
}
.x-toolbar.x-docked-bottom {
    border: none;
}
.x-button-back .x-button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.x-toolbar .x-button .x-button-icon:before {
    line-height: 1.1em;
}

.x-panel.x-floating, .x-msgbox, .x-form.x-floating {
    background: #fff;
}
.x-form-fieldset-instructions {
    margin: 0.3em 0.7em 0.3em;
}

.x-select-overlay.x-floating .x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background: rgb(102,102,102); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.x-select-overlay.x-floating .x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl span.x-list-label {
    color: #fff;
}

.x-form-fieldset-title .x-innerhtml {
    white-space: normal;
}

.x-form-label-nowrap .x-form-label {
    white-space: normal;
    text-overflow: none;
}

.x-title .x-innerhtml {
    white-space: normal;
}




/* Auth Form  */

div.logo {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -316px 0 0;
    text-align: center;
}

.sfa-auth-form .x-form-label span, .sfa-auth-form .x-form-fieldset-title  {
    font-weight: normal;
}
.sfa-auth-form.x-form.x-floating {
    padding: 0
}
.sfa-auth-form .x-form-inner.x-size-monitored.x-paint-monitored.x-scroll-scroller {
    background: url(/resources/img/log-form_bg.jpg) repeat;
}

.sfa-auth-form  .logo img {
    max-width: 100% !important;
    position: relative;
}
.sfa-auth-form.x-form.x-floating.x-sized {
    border: 3px solid #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0.2em 0.6em;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0.2em 0.6em;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0.2em 0.6em;
}

.sfa-auth-form .x-scroll-container.x-paint-monitored {
    background: url(/resources/img/x-layout-card-item_bg.jpg) repeat;
}

.sfa-auth-form .x-form-fieldset-instructions {
    margin-top: 0;
    font-size: 18px;
}
.x-form.sfa-auth-form.x-floating.x-sized, .x-form.sfa-auth-form .x-scroll-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.sfa-auth-form .x-unsized.x-button.x-button-confirm {
    display: inline-block;
    padding: 8px 30px 10px;
    font-size: 22px;

}
.sfa-auth-form .x-unsized.x-button.x-button-confirm span {
    line-height: 1;
}
.sfa-auth-form .x-form-fieldset-title {
    margin: 0 0 15px;
    font-size: 33px;
    color: #2e7fb7;
}

.sfa-auth-form .x-field {
    display: block;
}
.sfa-auth-form .x-form-label {
    padding: 0 0 5px;
    background: none;
}
.sfa-auth-form .x-container.x-field-text, .sfa-auth-form .x-inner.x-form-fieldset-inner {
    border: none;
    background: none;
}

.sfa-auth-form .x-inner.x-form-inner {
    padding: 24px 50px;
}
.sfa-auth-form .x-form-fieldset {
    margin: 0;
}
.sfa-auth-form .x-input-el.x-form-field {
    padding: 6px 7px 9px;
    font-size: 22px;
    color: #565555;
    border: 1px solid #cacaca;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.sfa-auth-form .x-container.x-field {
    height: 100px;
}

.sfa-auth-form .x-container.x-form-fieldset {
    margin-bottom: 20px;
}
.sfa-auth-form .x-container.x-field-textarea.x-field {
    height: 189px;
}
.sfa-auth-form input.x-input-el.x-form-field:focus, textarea.x-input-el.x-input-text:focus {
    border: 3px solid #2e7fb7;
}
.sfa-auth-form .x-field-clearable .x-field-input {
    padding-right: 0;
}
.sfa-auth-form .x-field-clearable .x-field-input input, .sfa-auth-form .x-field-clearable .x-field-input textarea {
    padding-right: 10%;
}




/* message for Auth page */
.x-msgbox {
    background: #fff;
}
.x-msgbox .x-button.x-button-action {
    font-size: 14px;
}
.x-msgbox .x-dock.x-dock-vertical {
    padding: 10px;
}



/* Inside */

/* TOP */

.sfa-main-toolbar.x-toolbar.x-docked-top {
    position: relative;
    z-index: 999;
    height: 60px;
    margin-bottom: 20px;
    border: none;
    background: url(/resources/img/log-form_bg.jpg) repeat;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.sfa-main-toolbar .x-title {
    padding-top: 0;
    font-size: 40px;
    color: #558FAC;
    line-height: 1.3;
}
.sfa-main-toolbar .x-button, .sfa-main-toolbar .x-button .x-button-label {
    color: #558FAC !important;
    font-size: 24px !important;
    background: none !important;
}
.sfa-main-toolbar .x-button, .sfa-main-toolbar .x-button .x-button-label:hover {
    color: #75AFCC !important;
}
.sfa-main-toolbar .x-toolbar-inner .x-button.x-button-action .x-button-icon.x-shown.more:before {
    content:']';
    font-size: 33px;
}

.sfa-main-toolbar .x-button.x-button-action.x-button-pressing .x-button-icon.x-shown.more:before {
    content:'[';
}


/* left column */
.sfa-left-container {
    margin-right: 20px;
}
.sfa-left-container, .sfa-left-container .x-toolbar {
    background: none;
}
.sfa-left-container, .sfa-left-container .x-toolbar .x-body .x-center .x-title .x-innerhtml {
    line-height: 1.1em;
}

.sfa-left-container .x-toolbar {
    margin-bottom: 20px;
    border: none;
}

.sfa-left-container .x-list-item,
.x-list-item .x-innerhtml span {
    font-size: 22px;
    line-height: 1.2em;
    color: #558FAC;
}
.sfa-left-container .x-list-item:hover {
    color: #75afcc;
}
.sfa-left-container .x-list-item-first {
    border: none !important;
}

.sfa-left-container .x-item-selected {
    background: none !important;
    border-top-color: #dedede !important;
}
.sfa-left-container .x-item-selected .contact {
    color: #75afcc;
}
.sfa-left-container .x-input-search {
    font-size: 20px;
}
.sfa-search-reload span.refresh {
    margin-bottom: 5px;
}
.sfa-left-container .x-title {
    font-size: 26px;
    color: #558FAC;
    text-shadow: none;
    font-weight: normal;
}
.sfa-left-container .x-body .x-center, .sfa-system-settings .x-center {
    height: 44px;
    background: url(/resources/img/log-form_bg.jpg) repeat;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.sfa-left-container .x-toolbar .x-button.x-button-back {
    padding: 14px 12px;
    position: relative;
    top: 1px;
}
.sfa-left-container .x-item-selected {
    color: #bfbfbf !important;
}
.sfa-left-container .sfa-add-button .x-button.x-button-action {
    color: #558FAC;
    background: none;
}
.sfa-left-container .sfa-add-button .x-button.x-button-action .x-button-label {
    color: #558FAC;
}
.sfa-left-container .sfa-add-button {
    position: relative;
    top: -15px;
    margin: 0;
}

/* content */

.sfa-info-container .x-form-fieldset .x-form-fieldset-inner, .sfa-info-container .x-form-label,
.sfa-info-container .x-form .x-scroll-container {
    background: none;
}
.sfa-info-container .x-form-fieldset .x-field {
    border: none;
}
.sfa-info-container  .x-button {
    display: inline-block;
    padding: 0 20px 2px;
    margin: 0 5px;
    border: none !important;
    font-size: 22px;
    height: 46px;
    background-position: 0 -1px !important;
}
.sfa-info-container  .x-button.x-button-pressing {
    background-position: 0 -40px !important;
}

.sfa-info-container   .x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge {
    font-size: 22px;
}

.sfa-info-container .x-form-fieldset-title .x-innerhtml {
    padding: 4px 0 0 30%;
    font-size: 28px;
}

.sfa-info-container  input, .sfa-info-container textarea {
    font-size: 22px;
    padding: 6px 30px 9px 7px;
    color: #565555;
    border: 1px solid #cacaca;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.sfa-info-container   .x-field-clearable .x-field-input {
    padding-right: 0;
}
.sfa-info-container  .x-iconalign-left .x-button-label {
    margin-left: 0;
}
.sfa-info-container  .x-form-fieldset .x-form-fieldset-inner, .card .x-form-fieldset .x-field{
    border: none;
}
.sfa-info-container  {
    margin: 0 10px 10px;
    padding: 10px 20px 18px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #eaedef url(/resources/img/logotype-trans.png) no-repeat 50% 20%;
    background-size: 65% auto;
    -webkit-box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset, -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset, 0 -0.3em 0.4em rgba(100, 100, 100, 0.3) inset, 0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;
    -moz-box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset, -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset, 0 -0.3em 0.4em rgba(100, 100, 100, 0.3) inset, 0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;
    box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset, -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset, 0 -0.3em 0.4em rgba(100, 100, 100, 0.3) inset, 0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;
}
.sfa-info-container form {
    margin: 10px 20px 18px;
}
.sfa-info-container h2 {
    margin: 0.5em 0 0.75em;
}
.sfa-info-container .x-layout-card-item {
    background: none;
}
.sfa-info-container .x-form-fieldset {
    margin-bottom: 0;
}
.sfa-info-container .x-form-label {
    padding-left: 0;
}
.sfa-info-container .sfa-company-setting-subscription {
    margin: 0 !important;
    padding: 10px;
    border: 1px solid #cacaca;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.sfa-info-container .x-unsized.x-form-fieldset-title.x-dock-item.x-docked-top {
    margin: 0 0 10px;
}
.sfa-info-container .x-field-focused input {
    border: 3px solid #2E7FB7;
}
.sfa-info-container .x-toolbar {
    margin-top: 20px;
    padding: 0;
    background: none;
}
.sfa-info-container .x-button.x-button-action {
    margin: 0;
}
.sfa-info-container .sfa-datepicker .x-input-el {
    position: relative;
    z-index: 999;
}
.sfa-info-container .x-tab .x-button-icon.add:before, .sfa-info-container .x-button .x-button-icon.add:before {
    top: 2px;
}

/* right column */

.sfa-right-container, .sfa-right-container .x-toolbar {
    background: none;
}
.sfa-right-container .x-toolbar {
    margin-bottom: 20px;
    border: none;
}
.sfa-right-container .x-title {
    font-size: 33px;
    color: #ed1818;
}



/* modal window message */

.sfa-modal-form .x-toolbar .x-button .x-button-label {
    font-size: 1.3em;
}

.sfa-modal-form .x-button.x-button-confirm {
    border: none !important;
}
.sfa-modal-form .x-button.x-button-action {
    background-position: 0 -1px;
}
.sfa-modal-form {
    background: #fff;
}
.sfa-modal-form .x-toolbar, .sfa-modal-form .x-form .x-scroll-container {
    background: none;
}
.sfa-modal-form .x-container.x-form-fieldset {
    margin-bottom: 0;
}
.sfa-modal-form .x-form-fieldset-instructions.x-docked-bottom,
.sfa-modal-form .x-form-fieldset-title.x-docked-top,
.sfa-modal-form .x-input-el.x-form-field {
    font-size: 22px;
    color: #565555;
}
.sfa-modal-form .x-form-label {
    background: none;
}
.sfa-modal-form .x-component-outer {
    border: 1px solid #cacaca;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.sfa-modal-form .x-field-focused .x-component-outer {
    border: 3px solid #2E7FB7;
}
.sfa-modal-form  .x-form-fieldset .x-field, .sfa-modal-form .x-form-fieldset .x-form-fieldset-inner {
    border: none;
}
.sfa-modal-form .x-component-outer input {
    padding: 0.4em 0;
    margin: 0 0.4em;
    width: 90%;
}
.sfa-modal-form .x-container.x-field.x-field-labeled {
    margin-bottom: 7px;
}
.sfa-modal-form .x-field-focused {
    margin-bottom: 6px !important;
}
.sfa-modal-form .x-form-fieldset-title.x-docked-top {
    margin: 0 0 0.4em;
    text-align: center;
    font-size: 28px;
}
.sfa-modal-form form .x-dock-body .x-container.x-field-text.x-field.x-field-labeled.x-form-label-nowrap {
    padding-right: 1px;
}


/* icons classes */

.sfa-icon-home {
    width: 33px;
    height: 31px;
    background: url(/resources/img/icons.png) no-repeat 50% 0;
}
.sfa-icon-docs {
    width: 27px;
    height: 32px;
    background: url(/resources/img/icons.png) no-repeat 50% -71px;
}
.sfa-icon-alert {
    width: 37px;
    height: 35px;
    background: url(/resources/img/icons.png) no-repeat 50% -145px;
}
.sfa-icon-safe {
    width: 26px;
    height: 35px;
    background: url(/resources/img/icons.png) no-repeat 50% -227px;
}
.sfa-icon-preferenses {
    width: 35px;
    height: 35px;
    background: url(/resources/img/icons.png) no-repeat 50% -308px;
}
.sfa-datepicker .x-component-outer:before, .sfa-info-container form .x-field-select .x-component-outer:before {
    background-image: none;
}




/* Content */
.sfa-info-container .x-form-fieldset {
    margin: 0;
}
.sfa-info-container .sfa-form-no-title {
    margin-top: 20px;
}
.sfa-info-container form .x-form-inner .x-field {
    background: none;
}
.sfa-system-settings .x-tabbar-dark {
    background: #0088cc;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

    -webkit-box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset,
    -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset,
    0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;

    -moz-box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset,
    -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset,
    0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;

    box-shadow: 0 0.3em 0.4em rgba(100, 100, 100, 0.3) inset,
    -0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset,
    0.3em 0 0.4em rgba(100, 100, 100, 0.3) inset;
}
.sfa-system-settings .x-toolbar-light.x-docked-top,
.sfa-system-settings .x-toolbar.x-docked-top {
    border: none;
}
.sfa-system-settings .x-unsized.x-title.x-floating {
    color: #558FAC;
    text-shadow: none;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5em;
}
.sfa-system-settings .x-container.x-toolbar.x-navigation-bar.x-dock-item.x-docked-top {
    margin-bottom: 20px;
}
.sfa-system-settings .x-toolbar .x-button .x-button-icon:before {
    line-height: 1.1em;
}


/* content 1 column with blue head */
.sfa-system-settings {
    background: none;
}
.sfa-system-settings .x-tabbar-inner .x-tab {
    height: auto;
}
.sfa-system-settings .x-tabbar-inner .x-tab  .x-button-label {
    font-size: 22px;
    line-height: 1em;
}
.sfa-system-settings .x-tabbar.x-docked-top {
    height: auto;
}
.sfa-system-settings .x-tabbar.x-docked-top .x-tab {
    padding: 0.8em 0.9em 1.2em;
}
.sfa-system-settings .x-tabbar-dark.x-docked-top .x-tab-active {
    background: url(/resources/img/x-tab-active_bg.png) no-repeat 50% 105%;
}
.sfa-system-settings .sfa-left-container .x-toolbar.x-docked-top {
    border: none;
}
.sfa-system-settings .sfa-left-container .x-dock-item.x-docked-top {
    margin: 18px 0 0 8px;
}
.sfa-system-settings .sfa-left-container .x-navigation-bar.x-dock-item.x-docked-top {
    margin: 25px 0 12px 8px;
}

.sfa-system-settings .sfa-left-container .x-button-back {
    margin: 6px 0.2em;
}
.sfa-system-settings .sfa-left-container .x-button {
    height: 33px;
}

.sfa-system-settings form.x-form.x-layout-card-item.x-sized {
    border: 1px solid #ccc;
    background: #ECF5F5 !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.sfa-system-settings form > .x-dock.x-dock-vertical.x-sized {
    margin: 20px;
}
.sfa-system-settings .x-tabbar.x-docked-top {
    border: none;
}
.sfa-system-settings .x-container.x-nested-list > .x-dock.x-dock-vertical.x-sized {
    padding-left: 15px;
}
.sfa-info-container.sfa-system-settings .x-dock.x-dock-vertical .x-button {
    min-height: 16px;
    margin-top: 6px;
    height: 32px;
    padding: 0 14px;
}

.sfa-info-container.sfa-system-settings .x-dock.x-dock-vertical .x-button span {
    top: -3px;
}
.sfa-info-container.sfa-system-settings .x-dock.x-dock-vertical .x-button.x-button-back span {
    top: -1px;
    position: relative;
}

.sfa-info-container.sfa-system-settings form .x-dock.x-dock-vertical .x-button {
    height: 38px;
}
.sfa-system-settings .x-list .x-list-item.x-item-selected .x-dock-horizontal, .sfa-system-settings .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    color: #959595;
    border: none;
}

/* two cools in one coll */
.page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized {
    margin-left: 18px;
}
.page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-button-action {
    min-height: 32px;
    height: 32px;
}
.page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-button-action span {
    top: -1px;
}
.page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-button-back {
    min-height: 32px;
    height: 32px;
}

.page-company .sfa-info-container .x-dock.x-dock-vertical .x-container.x-toolbar.x-dock-item.x-docked-top {
    border: none;
}
.page-company .sfa-info-container .x-unsized.x-title.x-floating {
    color: #558FAC;
    text-shadow: none;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.5em;
}

.page-company .sfa-info-container .x-container.x-toolbar.x-navigation-bar.x-dock-item.x-docked-top {
    margin: 22px 0 12px;
    height: 42px;
    background: url(/resources/img/log-form_bg.jpg) repeat;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-list-item-first.x-list-item {
    border-top: none;
}
.page-company .sfa-info-container form .x-dock.x-dock-vertical {
    padding: 5px 20px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #f7f8f9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.page-company .sfa-info-container form.sfa-form-no-title .x-dock.x-dock-vertical {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
.page-company .sfa-info-container .x-list-item.x-item-selected {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    color: #959595;
    border: none;
}
.page-company .sfa-info-container  .x-button.x-button-back {
    padding: 0 12px 2px;
}
.page-company .sfa-info-container .x-inner.x-form-inner.x-translatable.x-size-monitored.x-paint-monitored.x-scroll-scroller {
    width: 100% !important;
}
.page-company .sfa-info-container .x-form-fieldset-title .x-innerhtml {
    padding-left: 0;
    text-align: center;
}
.page-company .sfa-info-container .sfa-checklist-form .x-button-normal.x-button {
    background-color: #6c9804;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2e306), color-stop(3%, #7eb105), color-stop(100%, #5b7f03));
    background-image: -webkit-linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);
    background-image: -moz-linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);
    background-image: -o-linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);
    background-image: linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);
}
.sfa-checklist-form .x-input-radio:checked + .x-field-mask:after {
    background: #558FAC;
}
.sfa-checklist-form .x-container.x-field-select.x-field.x-field-labeled {
    margin-top: 10px;
}
.sfa-checklist-form .x-container.x-form-fieldset .x-dock.x-dock-vertical .x-dock-body {
    height: auto;
}
.sfa-checklist-form .x-container.x-field-radio.x-field.x-label-align-right.x-form-label-nowrap.x-field-labeled.x-layout-box-item.x-stretched .x-component-outer {
    left: -8px;
}
.sfa-checklist-form .x-dock.x-dock-vertical .x-field-radio .x-form-label {
    position: relative;
    left: -10px;
}



/* Company -> Vehicle Users */
.sfa-vehicle-inspection > div > form:first-child .x-dock.x-dock-vertical {
/*    padding: 0;
    border: none;
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
*/}
.sfa-vehicle-inspection > div > form:first-child .x-dock.x-dock-vertical .x-container.x-toolbar-dark.x-toolbar.x-dock-item.x-docked-top {
    /*margin: 0;*/
}
.sfa-vehicle-inspection > div > form > .x-body.x-scroll-view {
    min-height: 46px;
}
.sfa-vehicle-inspection > div > form > input {
    display: none;
}
.sfa-vehicle-inspection > div > form:last-child {
    min-height: 68px;
}


/* hack for chrome & safari -> button 'back' in left column, naprimer */

@media all and (-webkit-min-device-pixel-ratio:0) {
    .sfa-left-container .x-button.x-button-back .x-button-label {
        position: relative;
        top: -18px;
    }
    .page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-button-action span {
        top: -3px;
    }
    .page-company .sfa-info-container .x-container.x-toolbar.x-navigation-bar.x-dock-item.x-docked-top {
        padding: 3px 0 10px;
    }
    .page-company .sfa-info-container .x-container.x-nested-list.x-layout-box-item.x-flexed.x-sized .x-button-back {
        top: 3px;
    }
    .page-company .sfa-info-container .x-toolbar .x-button .x-button-label {
        line-height: 1.45em;
    }

}


/* Alerts */
.sfa-alerts {
    padding: 10px;
}

.sfa-alert-comments {
    padding-top: 24px;
    color: #565555;
    font-size: 17px;
}
.sfa-alert-comments .name {
    font-size: 22px;
}
.sfa-alert-comments h3 {
    color: #565555;
}
.sfa-alerts .x-list-item > .x-innerhtml {
    color: #558FAC;
    line-height: 28px;
}

.sfa-alerts .x-list-item > .x-innerhtml > span {
    display: block;
    line-height: 25px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #666
}

.sfa-alerts .headshot {
    float: left;
    height: 62px;
    width: 62px;
    margin: 14px 10px 0 0;
    background-size: cover;
    background-position: center center;
    background: #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6)
}

.sfa-alerts .x-item-pressed, .sfa-alerts .x-item-selected {
    border-top-color: #d1d1d1 !important
}
.sfa-alerts .x-list-item .x-innerhtml:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sfa-alerts .sfa-alert-description {
    position: relative;
    top: 8px;
}
.x-show-contact {
    background: #EEEEEE
}

.x-show-contact .top {
    padding: 22px;
    height: 100px
}

.x-show-contact .top > * {
    float: left
}

.x-show-contact .top .headshot {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4)
}

.x-show-contact .top .name {
    width: 195px;
    padding-top: 0;
    font-size: 22px;
    color: #558FAC;
}

.x-show-contact .top .name span {
    display: block;
    font-size: 22px;
    font-weight: normal;
    color: #666
}

.x-show-contact .top .name a:link {
    color: #3f9b26;
    text-decoration: none
}

.x-map {
    position: relative
}

.x-map:before {
    /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.4)
}

.x-toolbar-inner .x-layout-hbox {
    position: relative
}

.x-toolbar-inner .x-layout-hbox #editButton, .x-toolbar-inner .x-layout-hbox #saveButton {
    position: absolute;
    right: 0;
    top: .4em
}

.sfa-vehicle-details-container-alert {
    color: #F00;
}

.sfa-alerts .x-innerhtml {
    font-size: 22px;
    color: #565555;
}
.sfa-alerts .x-innerhtml > span {
    font-size: 20px;
}
.sfa-checklist-form .checklist-details-ok, .sfa-checklist-form .checklist-details-alerts {
    font-size: 22px;
    color: #565555;
    position: relative;
}
.sfa-checklist-form .checklist-details-ok:after, .sfa-checklist-form .checklist-details-alerts:after {
    bottom: 0;
    content: "3";
    font-family: 'Pictos';
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    color: #006BB6;
    right: 10px;
    text-align: right;
    top: 0;
}
.sfa-checklist-form .checklist-details-alerts:after {
    color: #f00;
}

.x-item-selected > div {
    background: #EAEDEF;
}

.sfa-container-padding > div {
    padding: 0 10px;
}
.sfa-statistic > div {
    padding: 0 18px;
}
.sfa-container-padding > div > .x-container.x-toolbar.x-navigation-bar.x-dock-item.x-docked-top {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.sfa-inspections {
    padding: 0 10px;
}
.sfa-container-padding .sfa-inspections .x-list-item .x-innerhtml {
    font-size: 22px;
    color: #565555;
}
.sfa-vehicle-inspection-details .x-container.x-layout-box-item .x-innerhtml {
    font-size: 22px;
    color: #565555;
}
.sfa-vehicle-inspection-details .sfa-vehicle-details-container-alert .x-container.x-layout-box-item .x-innerhtml {
    color: #f00;
}

.sfa-vehicle-inspection-details .x-button.x-button-small .x-button-label {
    font-size: 20px;
    color: #fff;
}

.sfa-container-padding .x-container.x-toolbar.x-toolbar-dark.x-stretched.x-paint-monitored.x-navigation-bar.x-dock-item.x-docked-top {
    height: 50px;
}

.sfa-vehicle-inspection-details-map .x-button.x-floating {
    padding-top: 5px;
    color: #fff;
}

.x-select-overlay .x-list .x-list-item.x-item-selected.x-list-item-tpl span.x-list-label {
    color: #558FAC;
}

.x-list-normal .x-list-item.x-item-selected.x-list-item-tpl {
    border-top-color: #ddd;
}

.x-field-select .x-component-outer:before {
    background: none;
}

.sfa-alerts-topbar .x-input-el.x-form-field.x-input-text {
    height: 35px;
    color: #565555;
    background: #fff;
}
.sfa-alerts-topbar .x-input-el.x-form-field.x-input-search {
    border: none;
}
.sfa-alerts-topbar {
    font-size: 22px;
    color: #558FAC;
}
.sfa-alerts-searchbar > .x-component-outer > .x-unsized.x-field-input:before {
top: 0;
}
.sfa-alerts .x-list-paging .x-list-paging-msg {
color: #558FAC;
}
.sfa-info-container .sfa-container-padding .sfa-alerts-topbar .x-button.x-button-action {margin-right: 10px;}

.x-toolbar.sfa-alerts-topbar.x-docked-top {border: none;}

.x-button-label {
    color: #fff;
}
.x-img.x-img-image.x-img-background.x-paint-monitored.x-size-monitored.x-sized {
    margin-top: 15px;
}

.sfa-atatus {
    margin-top: 15px;
}

.sfa-inspections .x-list-paging-msg {
    font-size: 22px;
    color: #558FAC;
}

.sfa-info-container .x-dock.x-dock-vertical .x-toolbar.x-navigation-bar.x-dock-item.x-docked-top .x-title .x-innerhtml,
.sfa-info-container.sfa-system-settings .x-dock.x-dock-vertical .x-toolbar.x-navigation-bar.x-dock-item.x-docked-top .x-title .x-innerhtml {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.sfa-container-padding .x-list-emptytext .x-innerhtml {
    font-size: 20px;
}

.sfa-inspection-toolbar .x-button-normal.x-button.sfa-edit-button,
.sfa-vehicle-inspection-details .x-container.sfa-vehicle-inspection-details-container2 .x-button.x-button-small{
    background: #6bbde3; /* Old browsers */
    background: -moz-linear-gradient(top, #6bbde3 0%, #2c7cb1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bbde3), color-stop(100%,#2c7cb1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6bbde3 0%,#2c7cb1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6bbde3 0%,#2c7cb1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bbde3', endColorstr='#2c7cb1',GradientType=0 ); /* IE6-9 */
}

.sfa-inspection-toolbar .x-button-normal.x-button.sfa-delete-button {
    background-image: none;
    background-color: #c70505;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f91f1f), color-stop(3%, #e00606), color-stop(100%, #ae0404));
    background-image: -webkit-linear-gradient(top, #f91f1f, #e00606 3%, #ae0404);
    background-image: -moz-linear-gradient(top, #f91f1f, #e00606 3%, #ae0404);
    background-image: -o-linear-gradient(top, #f91f1f, #e00606 3%, #ae0404);
    background-image: linear-gradient(top, #f91f1f, #e00606 3%, #ae0404);
}

.sfa-vehicle-inspection.sfa-vehicle-report > div {
    padding: 0 10px;
}
.sfa-vehicle-inspection.sfa-vehicle-report .x-inner.x-toolbar-inner.x-horizontal.x-align-center.x-pack-start.x-layout-box div,
.sfa-vehicle-inspection.sfa-vehicle-report .x-component-outer:before,
.sfa-vehicle-inspection.sfa-vehicle-report input, .sfa-vehicle-inspection.sfa-vehicle-report textarea,
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-component-outer,
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-component-outer input,
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-component-outer:before {
    border: none;
}
.sfa-info-container.sfa-statistic .top {
    font-size: 22px;
}
.sfa-info-container.sfa-statistic .sfa-top-toolbar {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-bottom-color: #acacac;
}
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-form-label {
    text-align: right;
    padding-right: 7px;
    width: auto !important;
}
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-form-label span {
    display: inline-block;
    padding-top: 5px;
}

#SafeStartSystemStatisticChart {
    margin-top: 140px !important;
}

.sfa-vehicle-inspection.sfa-vehicle-report .top {
    font-size: 22px;
    color: #666;
}
.sfa-vehicle-inspection.sfa-vehicle-report .top > div {
    padding-bottom: 5px;
}
.sfa-vehicle-inspection.sfa-vehicle-report #SafeStartVehicleReportContent {
    padding: 7px 7px 15px;
}
.sfa-vehicle-inspection.sfa-vehicle-report .sfa-datepickerfield {
    display: block !important;
}
.sfa-vehicle-inspection.sfa-vehicle-report .x-button-action {
    margin-top: 17px;
}
.sfa-vehicle-inspection.sfa-vehicle-report .x-field-input {
    min-width: 1em;
}

.clear {
    clear: both;
}
.sfa-alert-comments .name {
    float: left;
    width: 40%;
    padding: 0 0 0 67px;
    line-height: 27px;
    background: url(/resources/img/user-ic.gif) no-repeat;
}
.sfa-alert-comments .sfa-item:nth-child(even) {
    color: #99A899;
}
.sfa-alert-comments .sfa-item .name {
    min-height: 49px;
}
span.sfa-comment-content {
    display: block;
    margin-left: 41%;
    font-size: 22px;
}
.sfa-alert-comments .clear {
    margin-bottom: 15px;
}

.sfa-alert-information {
    padding: 0 10px 15px;
}
.sfa-alert-information .x-field {
    background: none;
}
.sfa-alert-information .x-field-textarea.x-field-labeled {
    margin-top: 15px;
}

.sfa-alert-info {
    padding: 15px 0 5px;
    color: #565555;
    font-size: 22px;
}

.sfa-vehicle-inspection.sfa-vehicle-report .x-layout-box > .x-layout-box-item {
    display: block !important;
}

.sfa-vehicle-inspection.sfa-vehicle-report .x-button.x-button-action .x-button-icon.x-shown.refresh {
    top: 3px;
}

.sfa-vehicle-inspection.sfa-vehicle-report .x-toolbar-dark.x-dock-item.x-docked-top .x-pack-start .x-form-label {
    padding-bottom: 6px;
}

.x-chart-watermark {
    display: none;
}

/* кнопка Back */
.x-button.x-button-back, .x-button.x-button-back:before {
    background: rgb(217,217,217);
    background: -moz-linear-gradient(top, rgba(217,217,217,1) 0%, rgba(191,191,191,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,217,217,1)), color-stop(100%,rgba(191,191,191,1)));
    background: -webkit-linear-gradient(top, rgba(217,217,217,1) 0%,rgba(191,191,191,1) 100%);
    background: -o-linear-gradient(top, rgba(217,217,217,1) 0%,rgba(191,191,191,1) 100%);
    background: -ms-linear-gradient(top, rgba(217,217,217,1) 0%,rgba(191,191,191,1) 100%);
    background: linear-gradient(to bottom, rgba(217,217,217,1) 0%,rgba(191,191,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#bfbfbf',GradientType=0 );
}


.sfa-left-container .x-dock.x-dock-vertical .x-navigation-bar.x-dock-item.x-docked-top .x-title.x-floating .x-innerhtml {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-msgbox-dark.x-msgbox .x-toolbar .x-button .x-button-label {
    font-size: 22px;
}
.x-msgbox-dark.x-msgbox .x-button-normal.x-button, .x-msgbox-dark.x-msgbox .x-button-action.x-button {
padding: 0;
}

.x-msgbox-dark.x-msgbox .x-button-normal.x-button span, .x-msgbox-dark.x-msgbox .x-button-action.x-button span {
    width: 87px;
}

.sfa-main-toolbar .x-button-action {
    padding: 0;
}

/* hack for mozilla on statistic page */

@-moz-document url-prefix() {
  .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner {
    display: block;
  }
  .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div {
        display: inline-block !important;
        width: 218px;
    }
   .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(2) {
        width: 180px;
    }
   .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(3) {
        width: 206px;
    }
   .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(4) {
        width: 185px;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div > div.x-form-label {
        float: left;
        text-align: left;
        /*width: 30%;*/
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div > div.x-component-outer {
        display: inline-block;
        width: 155px;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(2) > div.x-component-outer {
        width: 110px;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-component-outer:before {
        background: url(/resources/img/arr.png) no-repeat 50% 50%;
        width: 30px;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div > div.x-component-outer > div {
        padding-right: 25px !important;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner .x-button.x-button-action {
        width: auto;
        top: 5px;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div .refresh {
        top: 0;
    }
}



/* кнопка обновить */
.sfa-info-container.sfa-statistic .sfa-top-toolbar .refresh {
    top: -2px;
}
.sfa-info-container.sfa-statistic .sfa-top-toolbar .x-button.x-button-action {padding: 0 18px; height: 38px}

/* media Companies  toolbar responsive */

@media screen and (max-width: 1024px) {
    .sfa-info-container .x-iconalign-left .x-button-label, .x-iconalign-left .x-badge {margin: 0}
    .sfa-info-container .x-toolbar .x-button .x-button-label,
    .sfa-info-container .x-toolbar .x-button .x-badge,
    .sfa-info-container .x-toolbar .x-button .x-hasbadge .x-badge {font-size: 20px;}
    .x-toolbar .x-button .x-button-icon:before {line-height: 1.1em;}
    .sfa-info-container .x-button {padding: 0 18px; height: 38px}
    .sfa-main-toolbar .x-iconalign-left .x-button-label, .x-iconalign-left .x-badge {margin-top: 0}
    .x-container.x-toolbar-dark.x-toolbar.sfa-main-toolbar .x-body.x-scroll-view .x-center {padding-right: 180px}
    .x-iconalign-left .x-button-label, .x-iconalign-left .x-badge {margin-left: 0.16em}
    .sfa-main-toolbar .x-title {font-size: 32px}
    .sfa-vehicle-inspection .x-dock.x-dock-vertical .x-toolbar-dark.x-toolbar.x-docked-top .x-button.x-iconalign-left.x-button-action .x-button-label {
        padding-left: 28px;
        width: 100%;
    }
    .sfa-vehicle-inspection.sfa-vehicle-report .x-button-action {
        margin-top: 23px !important;
    }

    .sfa-vehicle-inspection.sfa-vehicle-report .x-button.x-button-action .x-button-icon.x-shown.refresh {
        top: 0;
    }

}

@media screen and (max-width: 980px) {

    @-moz-document url-prefix() {
        .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div > div.x-form-label {
            float: none;
        }
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div {
        width: 22%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(2) {
        width: 17%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(3) {
        width: 21%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner > div:nth-child(4) {
        width: 22%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar > div.x-inner .x-button.x-button-action {
        width: 8%;
    }
}

@media screen and (max-width: 950px) {
    .x-label-align-left {
        -webkit-box-orient: vertical !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-form-label {
        text-align: left;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-field-select.x-field {
       width: 10.5em;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-button.x-button-action {
        top: 11px;
    }
}

@media screen and (max-width: 800px) {
    .sfa-info-container .x-button {padding: 0 12px}
}

@media screen and (max-width: 768px) {
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-field-select.x-field {
        width: 20.5%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-button.x-button-action {
        width: 9%;
    }
    .sfa-info-container.sfa-statistic .sfa-top-toolbar .x-button-icon.x-shown.refresh {
        position: static;
        margin: 0 auto;
    }
}
/*  toolbar  */
@media screen and (max-width: 700px) {
    .sfa-info-container  {background-size: 85% auto;}
    .sfa-main-toolbar .x-button, .sfa-main-toolbar .x-button .x-button-label {font-size: 20px !important;}
    .sfa-main-toolbar .x-title {font-size: 30px;}
    .sfa-main-toolbar .x-toolbar .x-button {margin: 0 0.2em 1px;}
    .sfa-info-container .x-button {padding: 0 15px 5px !important; margin: 0 3px !important;}
    .sfa-info-container .x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge {
        font-size: 18px; padding-top: 5px;
    }
    .sfa-vehicle-inspection.sfa-vehicle-report .x-button-action {
        margin-top: 24px !important;
    }
}




.x-button-label {
    
}