$font-family: 'Archivo Narrow',"Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;

$border-layout-ct-background-color: #e8e8e8;


$form-field-height: 30px;
$form-field-font-size: 16px;
$form-label-font-size: 16px;
$form-label-font-color: #333;
$form-field-text-color: #333;

$form-toolbar-label-color: #1368a4;
