

@include extjs-button-ui(
    $ui: 'tab-large',

    $border-radius: 3px,
    $border-width: 2px,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: #27292C,
    $border-color-disabled: transparent,

    $padding: 20px 0 0 0,
    $text-padding: 30px 0px 0px 0px,

    $background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: #333539,
    $background-color-disabled: transparent,

    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,

    $color: #FFF,
    $color-over: #FFF,
    $color-focus: #FFF,
    $color-pressed: #FFF,
    $color-disabled: #FFF,

    $font-size: 12px,
    $font-size-over: 12px,
    $font-size-focus: 12px,
    $font-size-pressed: 12px,
    $font-size-disabled: 12px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);

@include extjs-button-ui(
    $ui: 'green-medium',

    $border-radius: 7px,
    $border-width: 0,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,

    $padding: 10px 30px 10px 30px,
    $text-padding: 0px 0px 0px 0px,

    $background-color: #6C9804,
    $background-color-over: #6C9804,
    $background-color-focus: #6C9804,
    $background-color-pressed: #628904,
    $background-color-disabled: transparent,

    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,

    $color: #FFF,
    $color-over: #FFF,
    $color-focus: #FFF,
    $color-pressed: #FFF,
    $color-disabled: #FFF,

    $font-size: 18px,
    $font-size-over: 18px,
    $font-size-focus: 18px,
    $font-size-pressed: 18px,
    $font-size-disabled: 18px,

    $font-weight: normal,
    $font-weight-over: normal,
    $font-weight-focus: normal,
    $font-weight-pressed: normal,
    $font-weight-disabled: normal,

    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-disabled: $button-small-font-family-disabled,

    $icon-size: $button-small-icon-size,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
);